:root {
  --grid-size: 16;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* Make it Square */
.container {
  /* width: 100%; */
  /* height: 100%; */
  width: 100vmin;
  height: 100vmin;
  border: 1rem solid black;
  display: grid;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  /* grid-template-rows: repeat(var(--grid-size), 1fr); */
}

.grid-item {
  /* background: blue; */
  border: 0.1rem solid black;
}

.passed-over {
  background: black;
}
